# Virtual environments
.venv/
venv/

# Cache directories
__pycache__/
.pytest_cache/
*.egg-info/

# Database and state files
*.db
*.pkl
*.bin
*.sqlite3

brown_db/
test_db/
state/
assert/
retriever/

# Build artifacts
dist/
build/
brown_db/chroma.sqlite3
brown_db/df6df9db-4e3a-4832-819e-cf58a6cba497/data_level0.bin
brown_db/df6df9db-4e3a-4832-819e-cf58a6cba497/length.bin
brown_db/chroma.sqlite3
